<!-- tab 9 -->
<div
  id="general_settings"
  class="tabcontent bg-white p-8 border border-green-600 rounded-b-lg rounded-tr-lg"
>
  <div class="editor">
    <div class="editor-title w-full rounded-lg">
      <h1 class="text-white text-xl text-center pt-1 pb-2">
        مدیریت برچسب‌ها
      </h1>
    </div>
    <div class="py-6 text-center border-b-2 border-green-600">
      <label>تعریف برچسب جدید:</label>
      <input
        type="text"
        name="new_tag"
        class="border border-green-600 mr-2 rounded-lg text-sm py-1 px-4"
        placeholder="عنوان برچسب"
      />
      <input
        type="text"
        name="new_tag"
        class="border border-green-600 rounded-lg text-sm py-1 px-4"
        placeholder="توضیحات"
      />
      <button class="submitButton mt-1 h-8 font-bold align-middle leading-4">
        تایید
      </button>
    </div>
    <div class="py-6 mb-8 justify-center flex">
      <span class="tag text-sm ml-2 mb-2">
        <span class="inline-block bg-green-300 px-2 rounded-r-md -ml-1">
          برچسب
        </span>
        <span
          class="inline-block bg-red-300 px-2 text-white rounded-l-md hover:bg-red-400 cursor-pointer"
          >x</span
        >
      </span>
    </div>

    <div class="editor-title w-full rounded-lg">
      <h1 class="text-white text-xl text-center pt-1 pb-2">
        مدیریت رسته-حوزه
      </h1>
    </div>
    <div class="py-6 text-center border-b-2 border-green-600">
      <label>تعریف رستۀ جدید:</label>
      <input
        type="text"
        name="new_tag"
        class="border border-green-600 mr-2 rounded-lg text-sm py-1 px-4"
        placeholder="عنوان رسته"
      />
      <button class="submitButton mt-1 h-8 font-bold align-middle leading-4">
        تایید
      </button>
    </div>

    <div class="py-6 text-center border-b-2 border-green-600">
      <label>تعریف حوزۀ جدید:</label>
      <select
        class="border border-green-600 rounded-lg mr-2 text-sm pb-1 px-4 relative"
        style="top:-2px;"
      >
        <option value="1">انتخاب رسته</option>
      </select>
      <input
        type="text"
        name="new_tag"
        class="border border-green-600 rounded-lg text-sm py-1 px-4"
        placeholder="عنوان حوزه"
      />
      <button class="submitButton mt-1 h-8 font-bold align-middle leading-4">
        تایید
      </button>
    </div>
    <div class="py-6">
      <ul>
        <li class="cat mb-4 bg-green-400 p-2 rounded-md">
          <span class="inline-block border-l-4 border-green-600 ml-4 pl-4"
            >رسته 1</span
          >
          <ul class="inline-block text-sm">
            <li
              class="sub-cat inline-block mx-2 bg-green-200 px-2 rounded-md relative"
            >
              حوزه 1
              <div
                class="tooltip actions absolute bg-green-500 rounded-md"
                style="top:-20px; right:0"
              >
                <div class="flex justify-center">
                  <button
                    class="edit px-2 rounded-r-md opacity-50 hover:opacity-100 "
                    title="ویرایش"
                  ></button>
                  <button
                    class="delete px-2 rounded-l-md opacity-50 hover:opacity-100 "
                    title="حذف"
                  ></button>
                </div>
              </div>
            </li>
            <li class="sub-cat inline-block mx-2 bg-green-200 px-2 rounded-md">
              حوزه 2
            </li>
            <li class="sub-cat inline-block mx-2 bg-green-200 px-2 rounded-md">
              حوزه 3
            </li>
            <li class="sub-cat inline-block mx-2 bg-green-200 px-2 rounded-md">
              حوزه 4
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- end of tab 9 -->
