@import url('./fa-css/all.css');

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Parastoo';
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

body {
  position: relative;
  box-sizing: border-box;
  direction: rtl;
  background-color: #eee;
}

#mainwrapper {
  width: 1200px;
  margin: 0 auto;
  background: #f7f7f7;
  padding: 1rem 0rem;
  box-shadow: 0 0 20px #ccc;
}

#mainWrapper {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  /* background: #f7f7f7; */
  padding: 0 2rem;
  box-shadow: 0 0 20px #ccc;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
/*****************************************************
******************** editor ***************************
****************************************************** */

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
  text-align: right;
  /* direction: rtl; */
}

.RichEditor-editor {
  /* direction: rtl; */
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
  text-align: right;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-step {
  background-color: 'yellow';
  font-family: '"Inconsolata", "Menlo", "Consolas", monospace';
  font-size: 16;
  padding: 2;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
  /* direction: ltr; */
  text-align: left;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
  font-weight: 600;
}

.RichEditor-step {
  background-color: #0a4758;
  color: white;
}

.RichEditor-List {
}

.RichEditor-List.public-DraftStyleDefault-depth0 {
  color: green;
  font-size: 20px;
  margin-right: 2rem;
}

.RichEditor-List.public-DraftStyleDefault-depth1 {
  color: blue;
  margin-right: 3rem;
  font-size: 18px;
}

.RichEditor-List.public-DraftStyleDefault-depth2 {
  color: red;
  margin-right: 4rem;
  font-size: 16px;
}

.swal2-styled {
  font-family: Parastoo;
}

.tip {
  padding-right: 1rem;
  margin-right: 3rem;
  margin-top: 1rem;
  border-right: 5px solid green;
}
