/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button,
input,
select {
  outline: none;
}
button:focus,
input:focus,
select:focus {
  outline: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: samim;
  src: url(font/Samim-FD.ttf);
  src: url(font/Samim-FD.eot);
  src: url(font/Samim-FD.woff);
  src: url(font/Samim-FD.woff2);
}
* {
  font-family: 'samim';
  direction: rtl;
}

body {
  background: #fafafa;
}

header {
  position: relative;
  background: #fafafa;
}

/*----------------------------tabs*/
/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  transition: 0.3s;
  border: 1px solid transparent;
  border-color: #38a169 #38a169 transparent #38a169;
}

/* Change background color of buttons on hover */
/* Create an active/current tablink class */
.tab button.active {
  background-color: #38a169;
  color: white;
}

/* Style the tab content */
/* .tabcontent {
  display: none;
} */

/* .tabcontent {
  animation: fadeEffect 1s;
} */

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*---------------------------------------------tabs-end*/
#new_item {
  position: relative;
  top: 31px;
  right: 132px;
  background: #def317;
  border: 1px solid transparent;
  border-color: #38a169 #38a169 transparent #38a169;
  transition: 0.3s;
}
#new_item:hover {
  background: #a7d652;
}
#new_item button {
  background: #def317;
  transition: 0.3s;
}
#new_item button:hover {
  background: #a7d652;
}

#new_item #children {
  /* display: none; */
  position: absolute;
  z-index: 9999;
  margin-top: 6px;
  margin-right: -1px;
}
#new_item:hover #children {
  display: block;
}

.table-title {
  background: url(header-section3.png) no-repeat;
}
.table-title .tablink {
  position: absolute;
  right: 5px;
  top: 5px;
}

.statistics .comment-icon {
  width: 30px;
  height: 20px;
  background: url(small-icons.png) 29px 0px;
}
.statistics .like-icon {
  width: 30px;
  height: 20px;
  background: url(small-icons.png) 54px 0px;
}
.statistics .view-icon {
  width: 30px;
  height: 20px;
  background: url(small-icons.png) 87px 0px;
}
.statistics .click-icon {
  width: 25px;
  height: 20px;
  background: url(small-icons.png) -2px 0px;
}

.actions .unpublish {
  width: 25px;
  height: 20px;
  background: url(small-icons.png) -92px 0px;
}
.actions .publish {
  width: 25px;
  height: 20px;
  background: url(small-icons.png) -67px 0px;
}
.actions .edit {
  width: 25px;
  height: 20px;
  background: url(small-icons.png) -143px 0px;
}
.actions .note {
  width: 25px;
  height: 20px;
  background: url(small-icons.png) -118px 0px;
}
.actions .seo {
  width: 25px;
  height: 20px;
  background: url(small-icons.png) -20px 0px;
}
.actions .delete {
  width: 25px;
  height: 20px;
  background: url(small-icons.png) -42px 0px;
}

#category_filter {
  position: absolute;
  top: 5px;
  right: 42px;
}

#subcat_filter {
  position: absolute;
  top: 5px;
  right: 174px;
}

#comments_management #category_filter {
  right: 5px;
}
#comments_management #subcat_filter {
  right: 137px;
}

#adtype_filter {
  position: absolute;
  top: 5px;
  right: 306px;
}

.custom-select {
  position: relative;
}
/* .custom-select select {
  display: none;
} */
.custom-select .select-selected {
  background-color: white;
  border-radius: 0.5rem;
}
.custom-select .select-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  left: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #13954f transparent transparent transparent;
}
.custom-select .select-selected.select-arrow-active:after {
  border-color: transparent transparent #13954f transparent;
  top: 7px;
}
.custom-select .select-items div,
.custom-select .select-selected {
  color: #13954f;
  padding: 7px 16px;
  border: 1px solid transparent;
  border-color: #13954f;
  cursor: pointer;
}
.custom-select .select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.custom-select .select-hide {
  /* display: none; */
}
.custom-select .select-items div:hover,
.custom-select .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.heading.active {
  font-weight: bold;
}
.sortable {
  font-weight: 800;
}

.sortable:after {
  position: absolute;
  content: '';
  top: 14px;
  left: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

.sortable.dec:after {
  border-color: transparent transparent #000 transparent;
  top: 7px;
}

.sortable.date {
  font-size: 11px;
}

.pagination ul li a {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.pagination ul li a:hover {
  background: rgba(0, 0, 0, 0.04);
}
.pagination ul li a.active {
  color: #13954f;
  border: 1px solid rgba(19, 149, 79, 0.5);
  background: rgba(19, 149, 79, 0.1);
}

.editor .editor-title {
  background: #48bb78 url(header-section3.png) no-repeat;
}
.editor .submitButton {
  background-color: rgba(222, 243, 23, 0.75);
  color: #000;
  font-size: 0.75rem;
  text-align: center;
  border-radius: 0.5rem;
  outline: 0;
  padding: 0.5rem;
  border: 1px solid #38a169;
}
.editor .submitButton:hover {
  background-color: #def317;
}
.editor #article_image_input,
.editor #blog_image_input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.editor #thumbnails {
  min-height: 470px;
}
.editor #article_selected_cats input[type='radio'] + span,
.editor #blog_selected_cats input[type='radio'] + span {
  color: #4299e1;
}
.editor #article_selected_cats input[type='radio']:checked + span,
.editor #blog_selected_cats input[type='radio']:checked + span {
  color: red;
}
.editor .RichEditor-controls span.btn {
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 0.6rem;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
}

/*----------------------------tabs*/
/* Style the tab */
.editortab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.editortab button.editortablinks {
  transition: 0.3s;
  border: 1px solid #38a169;
  border-left: none;
  background: #d6f3a1;
}
.editortab button.editortablinks:hover {
  background: #9ae6b4;
}

/* Create an active/current tablink class */
.editortab button.active {
  background-color: #def317;
  font-weight: bold;
}

/* Style the tab content */
.editortabcontent {
  /* display: none; */
}

.editortabcontent {
  animation: fadeEffect 1s;
  /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*---------------------------------------------tabs-end*/

/*# sourceMappingURL=style.css.map */
