*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  // font-size: 45%;
  font-family: 'Parastoo';
}

body {
  position: relative;
  box-sizing: border-box;
  direction: rtl;
  background: #eee;
}

#mainWrapper {
  width: 90%;
  margin: 0 auto;
  background: #f7f7f7;
  padding: 0 2rem;
  box-shadow: 0 0 20px #ccc;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
