#topicsContainer {
  margin: 2rem 0;
  text-align: center;
  .topic {
    text-align: center;
    display: inline-block;
    margin: 0.5rem;
    a {
      span.topicIcon {
        border-radius: 50%;
        background: #eee;
        display: block;
        width: 3rem;
        height: 3rem;
        margin: 0 auto;
        border: 1px solid $bordercolor;
        text-align: center;
        line-height: 2.5em;
      }
    }
    a.active,
    a:active,
    a:hover {
      color: $green-3;
      span.topicIcon {
        color: #fff;
        background: $green-3;
        box-shadow: 0 0 3px $gray;
      }
    }
  }
}
