#introduction {
  position: relative;
  img {
    // float: right;
    width: 100%;
    padding: 0.7rem;
    margin: 0 0 0.2rem 1.5rem;
    border: 1px solid $green-3;
    border-radius: 0.5rem;
    background: #fff;
  }
  #articleTitle {
    color: $green-3;
    font-size: 2em;
  }
}

#articleStats {
  .stat {
    display: inline-block;
    margin-left: 15px;
    .icon {
      margin-left: 5px;
      display: inline-block;
      border-radius: 50%;
      color: #888;
      border: 1px solid $bordercolor;
      background: #eee;
      width: 30px;
      height: 30px;
      padding: 2px;
      margin-top: 10px;
      text-align: center;
      &:hover {
        box-shadow: 0 0 3px $gray;
      }
      &.like {
        color: red;
      }
      &.view {
        color: #3c94ff;
      }
      &.comment {
        color: orange;
      }
    }
  }
}
