#flnav_wrapper {
  top: 32%;
  margin: 0px -31px;
  position: fixed;
  z-index: 5;
}

#flnav {
  // position: fixed;
  // top: 30%;
  // right: 10%;
  float: right;

  .sectionIcon {
    display: block;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    border: 1px solid $green-3;
    border-radius: 5px;
    color: $green-3;
    text-align: center;
    line-height: 3rem;
    background: #fff;
    margin-bottom: 5px;

    &active {
      .sectionIcon {
        color: #fff;
        background: $green-3;
      }
    }
  }
}

#twoColumns {
  display: grid;
  grid-template-columns: 1fr 200px;
}

article {
  padding: 0 3rem;

  section {
    // padding-right: 2rem;
    //for the right-fixed-menu

    .sectionTitle {
      color: #fff;
      background: #4baf00;
      padding: 0.2rem 1rem;
      font-size: 1.4rem;
      margin-top: 5rem;
      margin-right: 49px;
      box-shadow: 0 0 2px #aaa;
      border-radius: 10px;
      // position: relative;
      .sectionIcon {
        position: absolute;
        right: -51px;
        top: -2px;
        height: 47px;
        width: 47px;
        border: 1px solid #4baf00;
        border-radius: 10px;
        color: #4baf00;
        text-align: center;
        line-height: 47px;
        background: #fff;
        font-size: 1.2rem;
      }
    }

    .sectionText {
      text-align: justify;
      line-height: 2.2rem;
      margin-top: 8px;
      box-shadow: 0 0 5px #4baf00;
      padding: 1rem 2rem;
      border-radius: 10px;
      background-color: white;
      h3 {
        color: $green-3;
        background: #fff;
        padding-right: 1rem;
        margin-top: 2rem;
        box-shadow: 0 0 2px #aaa;
        border-radius: 5px;
      }

      p {
        margin-top: 1rem;
      }

      ul {
        padding-right: 3rem;
      }
    }
  }
  section#introduction {
    padding-right: 0;
  }
}

aside {
  .ad {
    text-align: center;
    height: 300px;
    border: 1px solid $gray;
    margin-bottom: 10px;
    border-radius: 5px;
  }
}

footer {
  padding: 10rem 1rem;
  background: $gray;
  color: white;
}
