@font-face {
  font-family: 'Parastoo';
  src: url('../font/Parastoo-FD.eot');
  src: url('../font/Parastoo-FD.woff') format('woff'),
    url('../font/Parastoo-FD.ttf') format('truetype');
}

$green-1: #648f00;
$green-2: #9be614;
$green-3: #4baf00;
$green-4: #317200;
$brown-1: #916e2b;
$brown-2: #6a330c;
$body-bg: #efefef;
$wrapper-bg: #f7f7f7;
$bordercolor: #aaa;
$gray: #949494;
$yellow: #ffbe00;
