#main-Wrapper {
  width: 90%;
  margin: 0 auto;
  background: #f7f7f7;
  padding: 2rem 0 0 0;
  box-shadow: 0 0 20px #ccc;
}

#profile-part1 {
  border-bottom: solid 3px $green-3;
  padding-bottom: 2rem;
  h1 {
    font-family: Parastoo;
    text-align: center;
    color: $green-3;
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  #profile-main-1 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 2rem 2rem;

    .image-box {
      text-align: left;
      margin-top: 2.5rem;
      margin-left: 5rem;
      .img {
        img {
          width: 10rem;
          border: solid 2px #c5c5c5;
          border-radius: 7px;
        }
      }
      .attach-box {
        width: 10rem;
        display: inline-block;
        text-align: center;
        margin-top: 1.5rem;
        .attach-input {
          display: none;
          color: transparent;
        }
        .attach-label {
          font-family: Parastoo;
          cursor: pointer;
          font-size: 1.8rem;
          color: $green-3;
          .attach-button {
            height: 2.5rem;
            width: 6.5rem;
            border-radius: 10px;
            background-color: #4baf00;
            color: white;
            font-size: 0.9rem;
            padding-top: 0.4rem;
            display: inline-block;
            &::after {
              content: '';
              display: block;
              height: 2rem;
              width: 5rem;
              position: absolute;
              left: 127px;
              top: 1px;
              opacity: 0;
            }
          }
        }
        .attach-input:checked ~ .attach-label:after {
          opacity: 1;
        }
      }
    }

    .register-box {
      text-align: right;
      border-right: solid 3px $green-3;

      .input-box {
        display: grid;
        grid-template-columns: 8rem 1fr;
        margin-right: 5rem;
        margin-top: 1rem;
        label {
          font-family: Parastoo;
          font-size: 1rem;
          color: $green-4;
          padding-top: 0.5rem;
        }
        input {
          font-family: Parastoo;
          color: rgb(75, 72, 72);
          padding-right: 0.8rem;
          height: 2.6rem;
          width: 20rem;
          border: $green-3 solid 1px;
          background-color: white;
          margin-right: 1rem;

          &:focus {
            font-family: Parastoo;
            color: rgb(75, 72, 72);
            opacity: 1; /* Firefox */
          }

          &:-ms-input-focus {
            /* Internet Explorer 10-11 */
            font-family: Parastoo;
            color: rgb(75, 72, 72);
          }

          &::-ms-input-focus {
            /* Microsoft Edge */
            font-family: Parastoo;
            color: rgb(75, 72, 72);
          }
          &::placeholder {
            font-family: Parastoo;
            color: rgb(75, 72, 72);
            opacity: 1; /* Firefox */
          }

          &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            font-family: Parastoo;
            color: rgb(75, 72, 72);
          }

          &::-ms-input-placeholder {
            /* Microsoft Edge */
            font-family: Parastoo;
            color: rgb(75, 72, 72);
          }
        }
      }
      .space {
        margin-top: 3rem !important;
      }

      .rules {
        margin-right: 18rem;
        margin-top: 2rem;
        label {
          font-family: Parastoo;
          font-size: 1rem;
          color: $green-4;
          padding-top: 0.5rem;
          margin-left: 0.5rem;
          p {
            display: inline;
            padding: 0.2rem;
            .ruleslink {
              color: $green-3;
            }
          }
        }
      }
    }
  }
}

#profile-part2 {
  margin-bottom: 5rem;
  h1 {
    font-family: Parastoo;
    text-align: center;
    color: $green-3;
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .row1 {
    margin: 0 15rem;
    .input-box {
      display: inline-block;
      label {
        display: inline-block;
        font-family: Parastoo;
        font-size: 1rem;
        color: $green-4;
        padding-top: 0.7rem;
      }
      input {
        display: inline-block;
        font-family: Parastoo;
        color: rgb(75, 72, 72);
        padding-right: 0.8rem;
        height: 2.6rem;
        width: 5rem;
        border: $green-3 solid 1px;
        background-color: white;
        margin-right: 1rem;

        &:focus {
          font-family: Parastoo;
          color: rgb(75, 72, 72);
          opacity: 1; /* Firefox */
        }

        &:-ms-input-focus {
          /* Internet Explorer 10-11 */
          font-family: Parastoo;
          color: rgb(75, 72, 72);
        }

        &::-ms-input-focus {
          /* Microsoft Edge */
          font-family: Parastoo;
          color: rgb(75, 72, 72);
        }
        &::placeholder {
          font-family: Parastoo;
          color: rgb(75, 72, 72);
          opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          font-family: Parastoo;
          color: rgb(75, 72, 72);
        }

        &::-ms-input-placeholder {
          /* Microsoft Edge */
          font-family: Parastoo;
          color: rgb(75, 72, 72);
        }
      }
    }
    .radio-box {
      display: grid;
      grid-template-columns: 2fr 3fr;
      float: left;
      .sex {
        display: inline-block;
        font-family: Parastoo;
        font-size: 1rem;
        color: $green-4;
        padding-top: 0.7rem;
        margin-left: 1rem;
      }
      #radio-group {
        padding-top: 0.6rem;
        text-align: center;

        label {
          position: relative;
          display: inline-block;
          font-family: Parastoo;
          font-size: 1rem;
          color: $green-4;
          margin-left: 1.5rem;
          #woman {
            position: absolute;
            top: 8px;
            right: 23px;
          }
          #man {
            position: absolute;
            top: 8px;
            right: 29px;
          }
        }
      }
    }
  }
  .row2 {
    margin: 2rem 15rem;
    label {
      font-family: Parastoo;
      font-size: 1rem;
      color: $green-4;
      padding-top: 0.7rem;
      margin-left: 1.5rem;
    }
    input {
      font-family: Parastoo;
      color: rgb(75, 72, 72);
      padding-right: 0.8rem;
      height: 2.6rem;
      width: 19rem;
      border: $green-3 solid 1px;
      background-color: white;
      margin-right: 1rem;

      &:focus {
        font-family: Parastoo;
        color: rgb(75, 72, 72);
        opacity: 1; /* Firefox */
      }

      &:-ms-input-focus {
        /* Internet Explorer 10-11 */
        font-family: Parastoo;
        color: rgb(75, 72, 72);
      }

      &::-ms-input-focus {
        /* Microsoft Edge */
        font-family: Parastoo;
        color: rgb(75, 72, 72);
      }
      &::placeholder {
        font-family: Parastoo;
        color: rgb(75, 72, 72);
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-family: Parastoo;
        color: rgb(75, 72, 72);
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        font-family: Parastoo;
        color: rgb(75, 72, 72);
      }
    }
  }
  .row3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 15rem 3rem 15rem;
    .text-box {
      h2 {
        font-family: Parastoo;
        font-size: 1rem;
        color: $green-4;
        padding: 0.5rem;
      }
      ol {
        margin-right: 2rem;
        li {
          font-size: 1rem;
          color: $green-4;
          i {
            color: $green-3;
            padding: 0.5rem;
          }
          .fa-trash-alt {
            cursor: pointer;
          }
          label {
            font-size: 1rem;
            color: $green-4;
            padding: 0.5rem;
          }
        }
      }
    }
    .select-box {
      text-align: left;
      padding-top: 3rem;

      select {
        font-family: Parastoo;
        color: rgb(75, 72, 72);
        padding-right: 0.8rem;
        height: 2.6rem;
        width: 19rem;
        margin: 0 0 1rem 0.3rem;
        border: $green-3 solid 1px;
        background-color: white;
      }
      .plus {
        cursor: pointer;
        text-align: center;
        i {
          margin-right: 2rem;
          margin-left: 0.5rem;
          font-size: 1.2rem;
          color: $green-3;
        }
        label {
          font-size: 1rem;
          color: $green-4;
        }
      }
    }
  }
}

#register-button {
  display: block;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  .save {
    border-radius: 10px;
    padding: 0.7rem 8rem;
    color: white;
    background-color: $green-3;
    font-size: 1.2rem;
    cursor: pointer;
  }
}
